*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: "SFDisplay";
    src: url("./assets/fonts/SFPRODISPLAYMEDIUM.OTF") format("opentype");
    
}

body{
    font-family: "SFDisplay", serif;
    background: #d9e6f7;
}

input{
    background-color: #eff3f8 !important;
}

